//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends controller_layout

block content
  h1!= title

  h2
    a(href='https://zerotier.com' target='_blank') ZeroTier 
    | 网络控制器界面，由 
    a(href='https://key-networks.com' target='_blank') Key Networks
    |  提供

  if error
     b #{error}
  else
    h4 此网络控制器的 ZeroTier 地址为 <b>#{zt_status.address}</b>
    h4 ZeroTier 版本 <b>#{zt_status.version}</b>
    h4
      a(href='/controller/networks') 查看此网络控制器上的所有网络

    .row(style='margin-top: 30px;')
      .col-sm-12
        h3 下载配置文件
        .btn-group(role='group')
          a.btn.btn-primary(href='/download/planet' role='button')
            i.glyphicon.glyphicon-download
            |  下载 planet
          a.btn.btn-primary(href='/download/moon' role='button')
            i.glyphicon.glyphicon-download
            |  下载 moon
